google-genai>=0.1.1
google-generativeai>=0.8.0
python-telegram-bot>=21.0
gspread>=6.1.0
google-auth>=2.29.0
firebase-admin>=6.5.0
youtube-transcript-api>=0.6.2
feedparser>=6.0.11
fastapi>=0.110.0
uvicorn>=0.29.0
apscheduler>=3.10.4
requests>=2.31.0
python-dotenv>=1.0.1
beautifulsoup4>=4.12.3
duckduckgo-search>=6.0.0
googlenewsdecoder>=0.1.7
markdown>=3.6
google-api-python-client>=2.100.0
google-auth-httplib2>=0.1.1

upstash-redis>=1.2.1
qstash>=2.7.2
tenacity>=8.2.3
